html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-color: rgb(48, 163, 187);
}

.box {
  background-color: rgb(231, 252, 253);
}

.navigation {
  background-color: rgb(69, 205, 218);
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
}

.navigation a {
  color: white;
  padding: 0 12px;
}

.side-panel {
  margin: 20px;
  border: 2px solid rgb(48, 163, 187);
  padding: 5px;
  align-content: flex-start;
}

img {
  width: 200px;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Noto Serif', serif;
  color: rgb(78, 84, 86);
  font-size: 2.5rem;
  padding: 1rem 0;
}

h2 {
  color: rgb(78, 84, 86);
}

h3 {
  color: rgb(78, 84, 86);
  margin: 5px;
}

.main-body {
  display: flex;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
  padding: 1em;
  justify-content: center;
}

footer a {
  color: black;
  padding: 0 15px;
}
